################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Slutprojekt Programmering 1/.vs/Slutprojekt Programmering 1/v15/Server/sqlite3/db.lock
